body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*CHAT BOX FOR HOMEWORKS*/

.chat {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}

    .chat li {
        padding: 0.5rem;
        overflow: hidden;
        display: flex;
    }

    .chat .avatar {
        width: 40px;
        height: 40px;
        position: relative;
        display: block;
        z-index: 2;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        background-color: rgba(255,255,255,0.9);
    }

        .chat .avatar img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            background-color: rgba(255,255,255,0.9);
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
.other .msg {
    order: 1;
    border-top-left-radius: 0px;
    box-shadow: -1px 2px 0px #D4D4D4;
}

.other:before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    left: 40px;
    width: 0px;
    height: 0px;
    border: 5px solid #fff;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

    .self .msg {
        order: 1;
        border-bottom-right-radius: 0px;
        box-shadow: 1px 2px 0px #D4D4D4;
    }

    .self .avatar {
        order: 2;
    }

        .self .avatar:after {
            content: "";
            position: relative;
            display: inline-block;
            bottom: 19px;
            right: 0px;
            width: 0px;
            height: 0px;
            border: 5px solid #fff;
            border-right-color: transparent;
            border-top-color: transparent;
            box-shadow: 0px 2px 0px #D4D4D4;
        }

.msg {
    background: white;
    min-width: 50px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.07);
}

    .msg p {
        font-size: 0.8rem;
        margin: 0 0 0.2rem 0;
        color: #777;
    }

    .msg img {
        position: relative;
        display: block;
        width: 450px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px #eee;
        transition: all .4s cubic-bezier(0.565, -0.260, 0.255, 1.410);
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

@media screen and (max-width: 800px) {
    .msg img {
        width: 300px;
    }
}

@media screen and (max-width: 550px) {
    .msg img {
        width: 200px;
    }
}

.msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

    .msg time:before {
        content: "\f017";
        color: #ddd;
        font-family: FontAwesome;
        display: inline-block;
        margin-right: 4px;
    }

emoji {
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -7px;
    margin-right: 2px;
    transform: translate3d(0px, 3px, 0px);
}

    emoji.please {
        background-image: url(http://imgur.com/ftowh0s.png);
    }

    emoji.lmao {
        background-image: url(http://i.imgur.com/MllSy5N.png);
    }

    emoji.happy {
        background-image: url(http://imgur.com/5WUpcPZ.png);
    }

    emoji.pizza {
        background-image: url(http://imgur.com/voEvJld.png);
    }

    emoji.cryalot {
        background-image: url(http://i.imgur.com/UUrRRo6.png);
    }

    emoji.books {
        background-image: url(http://i.imgur.com/UjZLf1R.png);
    }

    emoji.moai {
        background-image: url(http://imgur.com/uSpaYy8.png);
    }

    emoji.suffocated {
        background-image: url(http://i.imgur.com/jfTyB5F.png);
    }

    emoji.scream {
        background-image: url(http://i.imgur.com/tOLNJgg.png);
    }

    emoji.hearth_blue {
        background-image: url(http://i.imgur.com/gR9juts.png);
    }

    emoji.funny {
        background-image: url(http://i.imgur.com/qKia58V.png);
    }

@-webikt-keyframes pulse {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.5;
    }
}




/*for small devices overrides*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    table th {
        display: none !important;
    }

    table {
        border: 0;
        table-layout:fixed;
    }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position:absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table td:before {

                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table td:last-child {
                border-bottom: 0;
            }
    .mobile-heding{
        text-align:center;
    }
}





/* Set width on the form input elements since they're 100% wide by default */


tr:nth-child(2n) {
    background: #eee;
}

input,
select,
textarea {
    max-width: 280px;
}

.voffset1 {
    margin-top: 2px;
}

.voffset2 {
    margin-top: 5px;
}

.voffset3 {
    margin-top: 10px;
}

.voffset4 {
    margin-top: 20px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 80px;
}

#search-homework-users{
    width: 300px;
}
a > .badge {
    position: absolute;
    top: 8px;
    right: -2px;
}

.navbar-inverse {
    background-color: #ffd800;
    border-color: #ffd800;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}



    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #ffffff;
        background-color: #eec700;
    }

td > .ok-icon{
    color: #4cff00;
}

td > .not-ok-icon {
    color: #ff0000;
}

.margin-horizontal-2{
    margin-left: 2px;
    margin-right: 2px;
}

.margin-horizontal-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.margin-horizontal-7 {
    margin-left: 7px;
    margin-right: 7px;
}

.margin-horizontal-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-horizontal-15 {
    margin-left: 15px;
    margin-right: 15px;
}

td > a> .action-delete{
    color: #ff0000;
    font-size: 20px;
}

td > a > .action-edit {
    color: #808080;
    font-size: 20px;
}

td > a > .action-details {
    color: #0026ff;
    font-size: 20px;
}

a> .add-item-icon{
    font-size: 20px;
}


    .add-item-link:hover, .add-item-link :focus {
        color: #ffffff;
        text-decoration: none;
        background: #00d12b;
    }



a > .add-item-icon :hover{
    color:#ffffff;
}

.text-danger{
    color: #ff0000;
}

.btn-create{
    margin-bottom: 30px;
    margin-top: 15px;
}

td > .avatar {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    z-index: 2;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    display: inline-block;
}

td> .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

td > .icon-visible-true{
    color: #4cff00;
    font-size: 20px;
}

td > .icon-visible-false {
    color: #ff0000;
    font-size: 20px;
}